.modal i {
  position: sticky;
  float: right;
  top: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}
.modal .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal .btns button {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.modal .btns button:hover,
.modal .btns button:focus {
  background: var(--input-border);
}
/* modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.479);
  width: 100vw;
  height: 100vh;
}

textarea {
  font-family: "Poppins";
}

.modal {
  padding: 1rem 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  background-color: var(--white-color);
  border-radius: 10px;
  width: 90vw;
  max-width: 600px;
  overflow-y: auto;
  max-height: 90vh;
  color: var(--text-color);
  transform: translate(-50%, -40%);
  animation: modal 0.3s ease-out forwards;
}
@keyframes modal {
  to {
    transform: translate(-50%, -50%);
  }
}

.btn {
  background: hsl(280, 87%, 65%);
  color: white;
  padding: 0 3rem;
  width: 100%;
  border-radius: 6px;
  height: 43px;
  text-decoration: none;
  margin: 1.5rem 0 1rem 0;
  transition: 0.5s;
  border: none;
  font-size: 1rem;
  outline: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.btn.btn-cancel {
  color: #cf0808;
}
.category-wrap {
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid var(--item-hover);
}
.category-placeholder {
  color: var(--grey);
  margin: 1rem 0;
}
.form-control-group {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
input[type="radio"] {
  margin-right: 10px;
}
input[type="radio"] {
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--input-border);
  outline: none;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  background: white;
  position: relative;
}
input[type="radio"]:checked {
  background: var(--check-bg);
}
input[type="radio"]:checked::before {
  content: "\2713";
  display: block;
  font-weight: bold;
  font-size: 0.6rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .radio-wrap {
  max-height: 10vh;
  overflow-y: auto;
} */
.pwd-wrap {
  position: relative;
  height: auto;
  width: auto;
}
button {
  border: none;
}
.view-pwd {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  background-color: hsl(280, 87%, 65%);
  padding: 0.75rem 0.6rem;
  /* font-size: 1.2rem; */
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-left: 1px solid var(--grey);
  border-radius: 0 8px 8px 0;
}
/* input:invalid {
  border-color: red;
} */
.closeModal {
  position: absolute;
  top: 0.5rem;
  cursor: pointer;
  right: 0.8rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--item-hover);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}
